body {
    font-family: 'Public Sans', sans-serif;
    background: #f8f9fa;
}

.navbar-nav {
    min-height: 110px;
    align-items: center;
}

.navbar-nav .nav-link {
    margin: 10px 8px;
    color: white;
}

.navbar-nav .nav-link.active {
    font-weight: 700;
    background-color: orange;
    border-radius: 8px;
}

.navbar-nav .nav-link:hover {
    background-color: orange;
    border-radius: 8px;
}

.cek-section {
    padding: 90px 15px;
}

.cek-card {
    background: white;
    max-width: 550px;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.2);
}

.cek-card h2 {
    font-family: "Times New Roman", Times, serif;
    color: #431599;
}

label {
    font-weight: 600;
}

.form-control {
    border-radius: 10px;
    padding: 10px 14px;
}

.btn-warning {
    font-weight: 600;
}

/* HASIL */
.hasil-box {
    margin-top: 25px;
    padding: 20px;
    border-radius: 14px;
    text-align: center;
    animation: fadeIn 0.6s ease;
}

.hasil-success {
    background: #e6f7ec;
    color: #198754;
}

.hasil-error {
    background: #fdecea;
    color: #dc3545;
}

.hasil-box i {
    font-size: 40px;
    display: block;
    margin-bottom: 10px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsive */
@media (max-width: 768px) {
    .cek-card {
        padding: 25px;
    }
}
